<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="scripts.Login_1"/>
      <class name="scripts.BookHotel_2"/>
      <class name="scripts.ContactPage_3"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
